// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.example-enter {
  opacity: 0.01;
  display: none;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.selected-icon {
  outline: 1px solid lightgrey;
}

#loading {
  animation-duration: 2s; 
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  from {
    font-size: 30px;
  }
  
  to {
    font-size: 40px;
  }
}

.title_fix {
	font-weight: normal;
}
.group_subtitle {
	margin-bottom: 25px;
}

