.little-padding-bottom img {
  margin-top: -9px;
}

body {
  background-color: #E9EAED !important;
}

.cool-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2462b8+0,2b81dd+95,8cbdea+100 */
background: rgb(36,98,184); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(36,98,184,1) 0%, rgba(43,129,221,1) 95%, rgba(140,189,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(36,98,184,1) 0%,rgba(43,129,221,1) 95%,rgba(140,189,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(36,98,184,1) 0%,rgba(43,129,221,1) 95%,rgba(140,189,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2462b8', endColorstr='#8cbdea',GradientType=0 ); /* IE6-9 */


}

.hidden {
  display: none;
}

.dropdown-menu.textfull {
  width: 450px;
}
.list-group-item {
  margin-left: 5px;
  margin-right: 5px;
}

.request-link {
  padding-top: 8px;
}

.button_to-fix {
  position: absolute;
}

.button_to {
  position: absolute;
}

.main-link{
  color: white !important;
}

.main-link:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8cbdea+98,2b81dd+100,2b81dd+100 */
background: rgb(140,189,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(140,189,234,1) 98%, rgba(43,129,221,1) 100%, rgba(43,129,221,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(140,189,234,1) 98%,rgba(43,129,221,1) 100%,rgba(43,129,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(140,189,234,1) 98%,rgba(43,129,221,1) 100%,rgba(43,129,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbdea', endColorstr='#2b81dd',GradientType=0 ); /* IE6-9 */


}

.glyphicon-globe, .glyphicon-user, .glyphicon-cog {
  color: white;
  font-size: 25px;
}

.drop-fix {
  position: absolute !important;
  top: 0;
  left: 3;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.button_to-fix {
  background: none;
  border: none;
  position: absolute;
  bottom: 0;

}


.custom-eq {
  font-size: 25px;
  color: #00cc33;
}

.main-link:active {
  background: #18467a;
  background: -moz-linear-gradient(top,  #18467a 13%, #206dac 87%, #19609f 95%, #3d98dd 100%);
  background: -webkit-linear-gradient(top,  #18467a 13%,#206dac 87%,#19609f 95%,#3d98dd 100%);
  background: linear-gradient(to bottom,  #18467a 13%,#206dac 87%,#19609f 95%,#3d98dd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18467a', endColorstr='#3d98dd',GradientType=0 );
}

.badge-super {
  position: absolute !important;
  left: 7;
  top: 3 !important;
  background-color: red !important;
}

.nav-bar-link-active {
  background: #18467a;
  background: -moz-linear-gradient(top,  #18467a 13%, #206dac 87%, #19609f 95%, #3d98dd 100%);
  background: -webkit-linear-gradient(top,  #18467a 13%,#206dac 87%,#19609f 95%,#3d98dd 100%);
  background: linear-gradient(to bottom,  #18467a 13%,#206dac 87%,#19609f 95%,#3d98dd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18467a', endColorstr='#3d98dd',GradientType=0 );
}
