// Place all the styles related to the user/profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-right {
  margin-right: 15px;
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 300px;
  margin-left: -300px;
  margin-top: -150px;
}

html {
  height: 100%;
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.some-margin-top {
  margin-top: 45px;
}
