.row
  .col-md-1
    .btn.btn-link Like
  .col-md-2
    .btn.btn-link{"data-toggle" => "collapse", "data-target" => "#uniqueId"} Comment
  .col-md-9
.row
  .col-md-1
  .col-md-10
    .panel.panel-success.collapse#uniqueId
      .panel-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  .col-md-1
