.row.feed_title
  .col-md-8
    .media
      .media-left.media-middle
        .a{:href => "#"}
          %img.media-object{:src => group.imageSource, :witdh => 64, :height => 64 }
      .media-body
        %h3.media-heading.title_fix
          = link_to group.title, user_group_path(current_user.id, group.id)
        %p
          %small
            = group.short_description
  .col-md-4
%br